@import "../../styles/variables";

.wrapper {
    width: 100%;
    max-height: 800px;    
    // background-color: red; 
    display: flex;
    // align-items: center;
    justify-content: space-between;
    
    
    & .classes {
        width: fit-content;
        height: fit-content;
        transform: scale(.98);
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        // flex-direction: column;

        & .welcome {
            height: 280px;
            border-radius: 30px;
            width: 750px;
            background: rgba(229, 229, 229, 0.3);             
            margin-bottom: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 2rem;

            & .wText {
                width: auto;
                height: fit-content;

                & h1 {
                    font-size: 22px;
                    font-weight: bolder;
                    margin-top: -10px;
                    color: #000;

                    & span {
                        text-transform: capitalize;
                    }
                }

                & p {
                    font-size: 13px;
                    max-width: 400px;
                    margin-bottom: 2rem;

                    & span {
                        line-height: 1.6;
                        display: block;
                        margin-top: 1rem;
                        
                    }
                }

                & .wLink {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 125px;
                    height: 39px;
                    background: #000000;
                    border-radius: 10px;
                    font-size: 14px;
                    color: #fff;
                    text-transform: capitalize;
                }
            }

            & img {
                height: 180px;
            }
        }

        & .slides {
            height: 270px;
            width: 750px;
            background: rgba(229, 229, 229, 0.3);
            margin-top: auto; 
        }
    }

    & .analytics {
        width: 400px;
        height: fit-content;
        background: rgba(229, 229, 229, 0.3);
        border-radius: 30px;
        transform: scale(.98);
        padding: 2.2rem;
        padding-bottom: .6rem;

        & .wrapper {
            margin-bottom: 1.8rem;
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        & .chart {
            height: 250px;
            width: 100%;

            & .chartNav {
                height: fit-content;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                & h3 {
                    font-size: 17.28px;
                    margin-block-start: 0;
                    margin-block-end: 0;
                }

                & span {
                    width: 94px;
                    height: 27px;
                    background: #52525A;
                    border-radius: 10px;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: capitalize;
                    font-weight: 600;
                    color: #fff;
                    cursor: pointer;
                    position: relative;

                    & svg {
                        margin-left: .5rem;
                    }

                    &:hover .duraOpt {
                        transform: scale(1);
                    }

                    & .duraOpt {
                        position: absolute;
                        background-color: #f5f5fa;
                        box-shadow: 0px 4px 4px rgba(82, 82, 90, 0.1);
                        height: 100px;
                        width: 150px;
                        transform: scale(0);
                        top: 35px;
                        right: 0;
                        border-radius: 10px;
                        color: #000;
                    }
                }
            }

            & .chartWrapper {
                margin-top: 2rem;
            }
        }
    }
}