@import '../../styles/variables';

.inputContainer{
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    // width: 400px;

    .inputField{
        padding: 1rem 1.6rem;     
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        outline: none;
        transition: .3s;
        font-size: 15px;

        &:focus{
            border-color: $primaryFont;
        }
        &:focus + span{
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: $primaryFont;
            top: -7px;
            background-color: white;
            padding: 0 5px;
        }
    }
    
    &>span{
        font-size: 12px;
        color: #8d909152;
        position: absolute;
        left: 25px;
        top: 20px;
        transition: .3s;
    }

    .hideShow{
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;

        .hide{
            position: absolute;
            top: 2px;
            right: 0;
            display: none;
        }
    }
    

}